.livro-menu-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  width: 160px;
  height: 160px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  justify-content: center;
  color: #000;
}

/* LivroMenuInterface.css */
.livro-menu-interface .livro-titulo {
  font-weight: bold;
  margin-top: 6px;
  font-size: 1.1em;
  color: #ffa686;
}

.livro-menu-interface-disabled {
  background-color: #e0e0e0 !important;
  color: #bbb !important;
  cursor: not-allowed !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}