.sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FFE3B0;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background 0.3s;
    
}

.sidebar-button:hover {
    background: #ffb88c;
    box-shadow: 0 4px 16px rgba(255, 168, 134, 0.25);
}